*/terraform.tfvars
*/terraform.tfstate
*/terraform.tfstate.backup
*/.terraform
*/mykey*
*/docker.pub
*/docker
*/terraform.tfstate
*/terraform.tfstate.backup
*/ansible-install-docker.retry
*/vars.tf
*/terraform.tfstate.lock.info
*/admin_password
